
    <div class="row course_cards_container section_content_row">
        <div class="col">
            <div class="popular_courses_slider_container">
                <div class="owl-carousel owl-theme popular_courses_slider" id="group_course-container">
                        <!-- foreach schedule Course Card -->
                </div>
            </div>
        </div>
    </div>
</div>
