﻿@{
    ViewBag.Title = "Schedule Details";
    var scheduleId = ViewBag.scheduleId;
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/css/sceduledetailsstyles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet" />
    <link href="~/lib/air-datepicker-3/air-datepicker-3/dist/air-datepicker.css" type="text/css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/serchinput.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" integrity="sha512-/Ae8qSd9X8ajHk6Zty0m8yfnKJPlelk42HTJjOHDWs1Tjr41RfsSkceZ/8yyJGLkxALGMIYd5L2oGemy/x1PLg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
}




<div class="container-fluid" style="margin:1px;padding:0;overflow:hidden;">
    <div class="row row-cols-md-2 g-0">
        @*# region行程表*@

        <div class="col-12 col-md-5" id="plannertable" style="border:2px solid #f6f4e8;">
            <div class="theme-header" id="theme-header" style="background-image: url('');width:auto;align-content:start;border-radius: 15px;overflow:hidden; position: relative;">
                <button class="btn btn-sm" id="schtitle_edit_btn" style="z-index:1;display:none;text-align:center;" data-bs-toggle="modal" data-bs-target="#modifiedschedule">修改行程名稱/日期</button>
                <h5 id="theme-name"></h5>
                <div id="travelduring">
                </div>
                <button class="btn btn-secondary btn-sm" id="weather_button">
                    顯示當地天氣
                </button>
            </div>
            <!-- #region 行程列表 -->
            <div class="wrapper" id="scheduledetailprivewsection" style="width: 100%;background:transparent;">
                <div class="buttonWrapper" id="tabs-label">
                    <!--tablabels-->
                </div>
                <div class="contentWrapper" id="tab-contents" style="overflow-y: auto;background:transparent;">
                    <!--tabcontents-->
                </div>
            </div>
            <!-- #endregion -->
        </div>
        @*#endgion*@
        @*#region 地圖*@
        <div class="col-12 col-md-8">
            <div id="search_input" class="position-absolute top-2 end-0">
                <input id="search_input_field" type="text" class="form-control mb-1" style="border:1px solid gray;border-radius: 10px; width: 300px;" placeholder="目的地" required>
            </div>
            @* <div class="row mt-5" style="">
            <div class="routebtn mt-5 mb-3" style="padding: 5px; border-radius: 5px; position: absolute; top: 10px; right: 10px; z-index: 1; display: flex; justify-content: end;">
            <div id="search_input" class="position-absolute top-5 end-0 p-2">
            <input id="search_input_field" type="text" class="form-control mb-1" style="border:1px solid gray;border-radius: 10px; width: 300px;transform:translateY(50%)!important;transform: translateX(-10%);" placeholder="目的地" required>
            </div>
            </div>
            </div> *@
            <div id="map"></div>
        </div>
        @*#endgion*@
    </div>
</div>
@* @*#region 變更主題名稱*@
@* <div class="container-fluid modal-body">
    <div class="modal fade" id="modifiedschedule" tabindex="-1" aria-labelledby="modifiedscheduleLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifiedscheduleLabel">修改行程</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="modifiedscheduleForm" novalidate autocomplete="off">
                        <!-- 行程名稱 -->
                        <div class="mb-3">
                            <label for="ScheduleName" id="SchName" class="form-label mb-2 font-size:12px">行程名稱</label>
                            <input id="ScheduleName" type="text" class="form-control mb-1" name="name" required>
                            <input id="Lat" type="hidden" name="lat">
                            <input id="Lng" type="hidden" name="lng">
                            <input id="place_id" type="hidden" name="place_id">
                            <input id="picture_url" type="hidden" name="picture_url">
                        </div>
                        <!-- 旅程日期 -->
                        <div class="mb-3">
                            <div class="row">
                                <label for="travelTimeLabel" id="travelTimeLabel" class="form-label mb-2  font-size:12px">旅程日期</label>
                                <div class="col-5">
                                    <input type="text" name="StartTime" id="el1" class="form-control text-center" placeholder="開始日">
                                </div>
                                <div class="col-2 text-center align-center pt-1 pb-1">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                                <div class="col-5">
                                    <input type="text" name="EndTime" id="el2" class="form-control text-center" placeholder="结束日期">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modifiedschedule_btn" data-schdeuleId="@scheduleId">修改</button>
                    <button type="button" class="btn btn-secondary btn-sm ms-2" id="modifiedcancelbtn" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div> *@
@*#endgion*@

@*#region 願望清單選單*@
<div class="modal fade" id="PopWishList" tabindex="-1" aria-labelledby="PopWishList_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" style="justify-content:center;align-items:center;transform:translateX(10%);">將地點加入願望清單</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="wishlist_list">
                    <div class="row" style="display:flex; justify-content:center; align-items:center;">
                        <select id="wishlist_content" class="form-select mb-3" style="max-width: calc(100% - 20px); margin: 0 auto;" autocomplete="off">
                            <option value="0">----- 請選擇願望清單 -----</option>
                        </select>
                        <select id="location_categories_content" class="form-select mb-3" style="max-width: calc(100% - 20px); margin: 0 auto;" autocomplete="off">
                            <option value="0">----- 請選擇標籤 -----</option>

                        </select>
                    </div>
                </div>
                <div class="row">
                    @*
                    <div class="d-flex justify-content-start mt-3 col">
                    <button class="btn btn-sm btn-primary" id="creatnewwishlist">新增願望清單</button>
                    </div>
                    *@
                    <div class="d-flex justify-content-end mt-3 col">
                        <button class="btn btn-primary btn-sm" id="addwishlist">加入願望清單</button>
                        <button class="btn btn-secondary btn-sm ms-2" id="addwoshlist_cancel" data-bs-dismiss="modal">取消</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@*#endgion*@

@*#region 將行程加入的選單*@
<div class="modal fade" id="AddPointWhichDayList" tabindex="-1" aria-labelledby="AddPointWhichDayList_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">要將行程加入哪一天行程?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="whichday_list" style="display:flex; justify-content:center; align-items:center;">
                    <div class="row w-100">
                        <!-- 日期下拉選單 -->
                        <div class="col-12 mb-3">
                            <label for="date-list" class="form-label">選擇日期:</label>
                            <select id="date-list" class="form-select" autocomplete="off" required>                               
                                <!-- 動態生成選項 -->
                                <option value="0">----- 請選擇日期 -----</option>
                            </select>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="date-list" class="form-label">前往方式:</label>
                            <select id="transportation-list" class="form-select" autocomplete="off" required>
                                <option value="0">----- 請選擇 -----</option>
                                <option value="1">開車</option>
                                <option value="3">大眾運輸</option>
                                <option value="4">腳踏車</option>
                                <option value="5">步行</option>
                            </select>
                            <!-- 動態生成選項 -->
                            </select>
                        </div>
                        <!-- 出發時間 -->
                        <div class="col-12 mb-3">
                            <label for="start-time" class="form-label">出發時間:</label>
                            <input type="time" id="start-time" class="form-control" autocomplete="off" min="00:00" max="23:59" required>
                        </div>
                        <!-- 預計停留時間 -->
                        <div class="col-12 mb-3">
                            <label for="duration" class="form-label">預計在下個目的地停留時間 :</label>
                            <div class="d-flex">
                                <input type="number" id="duration-hours" class="form-control me-2" placeholder="小時" min="0" step="1" required>
                                <input type="number" id="duration-minutes" class="form-control" placeholder="分鐘" min="0" step="1" required>
                            </div>
                        </div>
                        <!-- 計算後的離開時間 -->
                        <div class="col-12 mb-3">
                            <label for="end-time" class="form-label">離開時間:</label>
                            <input type="time" id="end-time" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button class="btn btn-primary btn-sm" id="addPointWhichDayList">加入行程</button>
                <button class="btn btn-secondary btn-sm ms-2" id="addPointWhichDayList_cancel" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
@*#endgion*@
<div id="weather-modal-container"></div>
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js" integrity="sha512-2xXe2z/uA+2SyT/sTSt9Uq4jDKsT0lV4evd3eoE/oxKih8DSAsOF6LUb+ncafMJPAimWAXdu9W+yMXGrCVOzQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/air-datepicker-3/air-datepicker-3/dist/air-datepicker.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/air-datepicker-3/air-datepicker-3/dist/locale/en.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/air-datepicker-3/air-datepicker-3/dist/locale/zh.js" type="text/javascript" asp-append-version="true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="~/js/schduledetails.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const WeatherBtnId = "weather_button";
        const WeatherModalContainerId = 'weather-modal-container';

        $(document).ready(function () {
            $('#date-list').trigger('change');
            scheduleID = sessionStorage.setItem("scheduleId", @scheduleId);
            document.getElementById('start-time').addEventListener('input', calculateEndTime);
            document.getElementById('duration-hours').addEventListener('input', calculateEndTime);
            document.getElementById('duration-minutes').addEventListener('input', calculateEndTime);
            sessionStorage.setItem("scheduleId", @scheduleId);
            tabsscoller();
            LoadScheduleInfo(@scheduleId)
            getToken();
            //#region 把地點加入願望清單
            $('#PopWishList').on('shown.bs.modal', function () {
                AddPointToWishList();
            });
            //#endregion
            //#region Timepicker format
            flatpickr("#start-time", {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                time_24hr: false
            });
            //#endregion
            //#region 修改行程主題
            // $('#modifiedschedule').on('shown.bs.modal', function () {
            //     initAirDatepicker();
            // });
            //#endregion
        });
    </script>
    <script src="~/js/weather/weatherindex.js"></script>
}