<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">登入</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input id="loginEmail" type="text" class="form-control" placeholder="請輸入Email" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">密碼:</label>
                    <input id="loginPassword" type="password" class="form-control" placeholder="請輸入密碼" />
                </div>
                <div id="result" class="text-danger mt-3"></div>
            </div>
            <div class="modal-footer">
                <button id="Login" class="btn btn-secondary w-100">登入</button>
            </div>
        </div>
    </div>
</div>
