<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>登入</h1>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input id="email" type="text" class="form-control" placeholder="請輸入Email" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">密碼:</label>
                <input id="password" type="password" class="form-control" placeholder="請輸入密碼" />
            </div>
            <button id="Login" class="btn btn-secondary w-100">登入</button>
            <div class="mb-3">
                <div id="result" class="text-danger mt-3"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $("#Login").on("click", async function () {
            const email = $("#email").val();
            const password = $("#password").val();

            const response = await fetch(`${baseAddress}/api/Auth/Login`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, password })
            });

            if (response.ok) {
                const token = await response.text(); // 這裡直接獲取文本響應
                const data = { Token: token }; // 將文本響應轉換為 JSON 格式
                localStorage.setItem('token', data.Token);
                //alert(data);
                //alert('登入成功');
                Swal.fire({
                    title: "登入成功!",
                    //text: "You clicked the button!",
                    icon: "success"
                }).then(c => {
                    //用Razo渲染正確的Url
                    window.location.href = '@Url.Action("Index", "Home")';
                });
                //alert(JSON.stringify(data));
            } else {
                //alert('登入失敗');
                Swal.fire({
                    title: "登入失敗!請確認帳號密碼",
                    //text: "You clicked the button!",
                    icon: "error"
                })
            }
        });
    
    </script>
   
}