@section Styles {
    <style>
        .position-relative {
            position: relative;
            text-align: center; /* 額外增加，確保文字在父元素內水平居中 */
            width: 100%;
        }

        .position-absolute {
            position: absolute;
            top: 10px; /* 調整文字距離圖片上方的距離 */
            left: 0;
            right: 0;
            margin: auto;
            color: #435A4F;
            font-weight: bold;
        }

        .img-fluid{
            opacity: 0.7
        }
    </style>
}
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/css/multi-select-tag.css">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1 class="mt-3">註冊</h1>
            <form id="registerForm">
                <div class="mb-3">
                    <label for="name" class="form-label">暱稱:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="請輸入暱稱，中英皆可" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="pinpin@com.tw"
                           required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">電話:</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="09xx-xxx-xxx">
                </div>
                <div class="mb-3">
                    <label for="birthday" class="form-label">生日:</label>
                    <input type="date" class="form-control" id="birthday" name="birthday">
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">性别:</label>
                    <select id="gender" name="gender" class="form-select">
                        <option value="0">不公開</option>
                        <option value="1">生理男</option>
                        <option value="2">生理女</option>
                    </select>
                </div>
                <div id="app">
                    <div class="mb-3">
                        <label>旅遊喜好:</label>
                        <select id="favor" v-model="optionSelected" v-on:change="changeOption" multiple>
                            <option v-for="option in options" :key="option.id" v-bind:value="option.id">
                                {{option.category}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">密碼:</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="請輸入8-16碼英數字，英文需區分大小寫" required>
                    <input type="checkbox" id="showPassword">顯示密碼</input>
                </div>
                <div class="mb-3">
                    <label for="passwordconfirm" class="form-label">確認密碼:</label>
                    <input type="password" class="form-control" id="passwordconfirm" name="passwordconfirm"
                           placeholder="請再次輸入密碼" required>
                </div>
                <div class="mb-3">
                    <label for="photo" class="form-label">大頭貼照:</label>
                    <input type="file" class="form-control" id="photo" name="photo" accept="image/*">
                </div>
                <div class="mb-3">
                    <img id="photoPreview" src="#" alt="頭像預覽"
                         style="max-width: 200px; max-height: 200px; display: none;">
                </div>
                <button type="submit" class="btn btn-secondary w-100 mb-5">註冊</button>
            </form>
        </div>
        <div class="col-md-4 offset-md-2 d-flex align-items-center justify-content-center">
            <div class="position-relative text-center">
                <h3 class="position-absolute text-center text-bold" style="color:#435A4F; font-weight: bold;">
                    旅圖，由PinPin開始！
                </h3>
                <br />
                <br />
                <img src="/images/destination.png" alt="Travel Itinerary" class="img-fluid" style="max-width: 60%;">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
            integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            $("#showPassword").on("change", function () {
                const passwordField = $("#password");
                const type = this.checked ? "text" : "password";
                passwordField.attr("type", type);
            });

            $("#registerForm").on("submit", async function (event) {
                event.preventDefault();

                const formData = new FormData();

                const name = $("#name").val();
                const email = $("#email").val();
                const phone = $("#phone").val();
                var birthday = $("#birthday").val();
                const gender = $("#gender").val();
                const password = $("#password").val();
                const passwordconfirm = $("#passwordconfirm").val();
                const photo = $("#photo")[0].files[0];
                const favor = $("#favor").val();

                if (!validatePassword(password)) {
                    alert('密碼必須為8-16個字符，且包含英文及數字。');
                    return;
                }

                if (password !== passwordconfirm) {
                    alert('請再次確認密碼!');
                    return;
                }

                // Validate photo file size (e.g., max 5MB)
                const maxFileSize = 2 * 1024 * 1024; // 2MB in bytes
                if (photo && photo.size > maxFileSize) {
                    alert('圖片大小不能超過2MB。');
                    return;
                }

                // 若未選擇生日，則預設為"1900-01-01"
                if (!birthday) {
                    birthday = "1900-01-01";
                }

                formData.append('name', name);
                formData.append('email', email);
                formData.append('phone', phone);
                formData.append('birthday', birthday);
                formData.append('gender', gender);
                formData.append('password', password);
                formData.append('passwordconfirm', passwordconfirm);
                formData.append('favor', favor);
                if (photo) {
                    formData.append('photo', photo); // Append photo file to FormData
                }

                try {
                    const response = await fetch(`${baseAddress}/api/Register`, {
                        method: 'POST',
                        body: formData // Send FormData instead of JSON.stringify
                    });

                    const result = await response.text();
                    //alert(result);
                    if (response.ok) {
                        Swal.fire({
                            title: "註冊成功!",
                            icon: "success"
                        }).then(() => {
                            window.location.href = '@Url.Action("Index", "Home")';
                        });
                        //用Razo渲染正確的Url
                        //window.location.href = '@Url.Action("Index", "Home")';
                    }

                } catch (error) {
                    console.error('Error:', error);
                    alert('註冊失敗，請稍後再試');
                }
            });

            $("#photo").on("change", function () {
                const reader = new FileReader();

                reader.onload = function (e) {
                    $("#photoPreview").attr("src", e.target.result);
                    $("#photoPreview").css("display", "block"); // 顯示預覽圖片
                };

                // 讀取選擇的圖片檔案
                const file = this.files[0];
                reader.readAsDataURL(file);
            });
        });

        function validatePassword(password) {
            const minLength = 8;
            const maxLength = 16;
            const hasLetter = /[a-zA-Z]/.test(password);
            const hasNumber = /\d/.test(password);

            return password.length >= minLength && password.length <= maxLength && hasLetter && hasNumber;
        }

        //動態載入所有favor項目
        const vuefavor = {
            data() {
                return {
                    optionSelected: [],
                    options: []
                };
            },
            methods: {
                changeOption() {
                    alert(this.optionSelected);
                }
            },
            mounted() {
                const uri = `${baseAddress}/api/category/GetFavorCategories`;
                axios.get(uri).then(response => {
                    this.options = response.data;
                    // 在選項加載完畢後初始化 multi-select-tag
                    this.$nextTick(() => {
                        new MultiSelectTag('favor');
                    });
                }).catch(error => {
                    alert(error);
                });
            }
        };
        Vue.createApp(vuefavor).mount("#app");
    </script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/js/multi-select-tag.js"></script>
}